@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "custom-background-colors";


$custom-bg-primary: #DAB6C4;
$custom-bg-secondary: #7B886F;
$custom-bg-success: #05383B;